@font-face {
    font-family: "PT Sans";
    src: url("fonts/PTSans-Regular.ttf");
}

body {
    --pink: #f67b5a;
    --pink-hover: #d93c28;
    --table-white: #fdfdfe;
    --table-pink: #f9f4fa;
    --gray: #a8aba2;
    --black: #222220;
    --pfp-size: 175px;
    font-family: "PT Sans";
    background: #fcfcfc;
}

.logo {
    margin: auto;
    width: fit-content;
    color: white;
    font-family: Cambria;
    font-weight: bolder;
    text-shadow: -2px -2px rgba(255, 0, 0, 0.42),
    2px 2px rgba(0, 0, 0, 0.42);
    font-size: 3rem;
    transition: all 1s;
}

.logo:hover {
    text-shadow: -3px -3px rgba(255, 0, 0, 0.6),
    4px 4px rgba(0, 0, 0, 0.6);
    transform: scale(110%);
}

.row-list li {
    list-style-type: none;
    float: left;
    margin-right: 5px;
}
.row-list li a {
    color: var(--pink);
    padding: 0 15px;
}
li a:hover {
    color: var(--pink-hover);
}

main {
    margin: -10px 15%;
    background: #fdfdfe;
    box-shadow: 0px 0px 20px -5px rgba(0, 0, 0, 0.38);
}

header {
    display: grid;
    grid-template-columns: 0.8fr 0.4fr;
    grid-row: 2;
    padding: 15px;
}


.add-teacher-button {
    border: 4px solid var(--pink);
    color: var(--pink);
    width: 140px;
    height: 40px;
    display: block;
    font-size: 1rem;
    font-family: "PT Sans";
    background: linear-gradient(to top, var(--table-white) 50%, var(--pink-hover) 50%);
    background-size: 100% 200%;
    background-position: left bottom;
    transition: all .5s ease-out;
}

.add-teacher-button:hover{

    border: 4px solid var(--pink-hover);
    background-position: left top;
    color: var(--table-white);
}

.search-field{
    border: 1px solid var(--gray);
    color: var(--gray);
    font-family: "PT Sans";
}

.search-button {
    border: 4px solid var(--pink);
    color: var(--pink);
    width: 60px;
    height: 25px;
    display: block;
    font-size: 0.7rem;
    font-family: "PT Sans";
    background: linear-gradient(to top, var(--table-white) 50%, var(--pink-hover) 50%);
    background-size: 100% 200%;
    background-position: left bottom;
    transition: all .5s ease-out;
}

.search-button:hover{
    border: 4px solid var(--pink-hover);
    background-position: left top;
    color: var(--table-white);
}



article {
margin: auto;
text-align: center;
justify-content: center;
align-items: center;
}

main article{
margin: 5%;
}

#search {
display: flex;
margin: auto;
justify-content: right;
align-items: center;
flex-wrap: nowrap;
}

#teachers form {
display: flex;
justify-content: center;
align-items: center;
flex-wrap: wrap;
flex-flow: row wrap;
color: var(--gray);
}

#teachers form div {
padding: 8px;
}

div.right-border {
border-right: dotted 2px var(--gray);
}

#teachers-list {
display: flex;
justify-content: center;
align-items: center;
flex-flow: row wrap;
}

.teacher-entity {
float: left;
margin: 20px;
position: relative;
top: 0;
left: 0;
}

.teacher-entity p.name {
font-weight: bold;
font-size: 1.5em;
margin: 6px;
word-wrap: anywhere;
white-space: pre-wrap;
}

.teacher-entity p.speciality {
color: var(--gray);
font-size: 1em;
}

.teacher-entity p.country {
font-size: 0.8em;
}

div.teacher-pfp {
position: relative;
top: 0;
left: 0;

z-index: 1;
overflow: hidden;
border-radius: 50%;
border: solid 6px var(--pink);
width: var(--pfp-size);
height: var(--pfp-size);
margin: auto;
display: flex;
text-align: center;
justify-content: center;
align-items: center;
}
.star img{
position: absolute;
top: 0;
left: calc(var(--pfp-size)/3*2);
z-index: 2;
width:calc(var(--pfp-size)/3);
}


div.teacher-pfp:hover {
border: solid 6px var(--pink-hover);
}

div.teacher-pfp p {
font-size: 3rem;
color: var(--pink);
font-weight: bold;
}

div.teacher-pfp:hover p {
color: var(--pink-hover);
}

div.teacher-pfp img {
width: 100%;
}

#statistics table {
width: 100%;
text-align: center;
background-color: var(--table-white);
}

#statistics table tr:nth-child(odd) {
background-color: var(--table-pink);
}

#statistics table th {
background-color: var(--table-white);
border-bottom: 1px solid var(--black);
}


.clear {
clear: both;
padding: 0 40%;

}
footer{
padding:5%;
}

.lower-nav {
display:grid;
grid-column: 2;
grid-template-columns: 0.8fr 0.4fr;
justify-self: center;
}

@media only screen and (max-width: 768px) {
    main {
        margin: -10px 0;
    }


    header {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 4;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    header * {
        margin: auto;
        padding: 10px;
    }
    .lower-nav {
        display: grid;
        grid-template-columns: 1fr;
        grid-row: 2;
        justify-content: center;
        text-align: center;
        margin: auto;
    }

    .add-teacher-button{
        height:50px
    }

    .search-button{
        height: 40px;
        margin: auto;
    }
}
